$threshold-lg: 1200px;
$threshold-md: 992px;
$threshold-sm: 768px;

$width-lg: 460px;
$width-md: 390px;
$width-sm: 305px;
$width-xs: 100%;

.leaflet-sidebar {
    position: absolute;
    height: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;

    z-index: 2000;

    &.left {
        left: -500px;
        transition: left 0.5s, width 0.5s;

        padding-right: 0;

        &.visible {
            left: 0;
        }
    }

    &.right {
        right: -500px;
        transition: right 0.5s, width 0.5s;

        padding-left: 0;

        &.visible {
            right: 0;
        }
    }

    & > .leaflet-control {
        height: 100%;
        width: 100%;

        overflow: auto;
        -webkit-overflow-scrolling: touch;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 8px 24px;

        font-size: 1.1em;

        background: white;
        box-shadow: 0 1px 7px rgba(0,0,0,0.65);
        -webkit-border-radius: 4px;
        border-radius: 4px;

        .leaflet-touch & {
            box-shadow: none;
            border: 2px solid rgba(0,0,0,0.2);
            background-clip: padding-box;
        }
    }
}

.leaflet-left {
    transition: left 0.5s;
}

.leaflet-right {
    transition: right 0.5s;
}

@media(max-width:$threshold-sm - 1px){
    .leaflet-sidebar {
        width: $width-xs;
        padding: 0;
    }

    .leaflet-sidebar.left {
        left: -100%;
    }

    .leaflet-sidebar.right {
        right: -100%;
    }

    .leaflet-sidebar.left.visible {
        left: 0;
    }

    .leaflet-sidebar.right.visible {
        right: 0;
    }

    .leaflet-sidebar > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: $width-xs;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: $width-xs;
    }

    .leaflet-touch .leaflet-sidebar > .leaflet-control {
        border: 0;
    }
}

@media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px){
    .leaflet-sidebar {
        width: $width-sm;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: $width-sm;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: $width-sm;
    }
}

@media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px){
    .leaflet-sidebar {
        width: $width-md;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: $width-md;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: $width-md;
    }
}

@media(min-width:$threshold-lg){
    .leaflet-sidebar {
        width: $width-lg;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: $width-lg;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: $width-lg;
    }
}

.leaflet-sidebar .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 31px;
    height: 31px;

    color: #333;
    font-size: 25pt;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;

    z-index: 8;
}
