.leaflet-sidebar {
    position: absolute;
    height: 100%;

    left: -500px;
    transition: left 0.5s, width 0.5s;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0;

    z-index: 2000;
}

.leaflet-sidebar.visible {
    left: 0;
}

.leaflet-left {
    transition: left 0.5s;
}

.leaflet-sidebar > .leaflet-control {
    height: 100%;
    width: 100%;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;

    font-size: 1.1em;

    background: white;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media(max-width:767px){
    .leaflet-sidebar {
        left: -100%;
        width: 100%;
        padding: 0;
    }

    .leaflet-sidebar.visible {
        left: 0;
    }

    .leaflet-sidebar > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .leaflet-sidebar.visible ~ .leaflet-left {
        left: 100%;
    }
}

@media(min-width:768px) and (max-width:991px){
    .leaflet-sidebar {
        width: 305px;
    }

    .leaflet-sidebar.visible ~ .leaflet-left {
        left: 305px;
    }
}

@media(min-width:992px) and (max-width:1199px){
    .leaflet-sidebar {
        width: 390px;
    }

    .leaflet-sidebar.visible ~ .leaflet-left {
        left: 390px;
    }
}

@media(min-width:1200px){
    .leaflet-sidebar {
        width: 460px;
    }

    .leaflet-sidebar.visible ~ .leaflet-left {
        left: 460px;
    }
}

.leaflet-sidebar .close {
    position: absolute;
    right: 10px;
    top: 5px;

    color: #333;
    font-size: 25pt;
    line-height: 1em;
    text-decoration: none;
}
